<div class="container">
  <div class="d-flex justify-content-center align-items-center">

    <div>
      <h1 style="color: 'violet';">Contact our</h1>
      <h1>Customer Service Centre</h1>
    </div>
    <img style="width: 20%;" src="../assets/img/img.jpg" alt="">

  </div>

  <div style="text-align: center;">
    <h5>Contact Information</h5>
    <h6>Please fill out your contact information below</h6>
  </div>

  <form [formGroup]="MyForm">
    <label>Name </label>
    <div class="d-flex">
      <div class="form-group col-sm-3">
        <input [class.is-invalid]="MyForm.get('firstName')?.invalid" type="text" class="form-control" formControlName="firstName">
        <small [class.d-none]="MyForm.get('firstName')?.valid || MyForm.get('firstName')?.untouched" class="text-danger">First Name is required</small>

      </div>
      <div class="form-group col-sm-3">
        <input [class.is-invalid]="MyForm.get('lastName')?.invalid" type="text" class="form-control" formControlName="lastName">
        <small [class.d-none]="MyForm.get('lastName')?.valid || MyForm.get('lastName')?.untouched" class="text-danger">Last Name is required</small>

      </div>
    </div>
    <div class="d-flex">
      <div class="col-sm-3">
        <label for="">First Name</label>
      </div>
      <div class="col-sm-3">
        <label for="">Last Name</label>
      </div>      
    </div>
    <div class="form-group">
      <label>Email </label>
      <input [class.is-invalid]="MyForm.get('email')?.invalid" type="emal" class="form-control" formControlName="email">
      <small [class.d-none]="MyForm.get('email')?.valid || MyForm.get('email')?.untouched" class="text-danger">Email is required (invalid email)</small>

    </div>
    <div class="form-group">
      <label>Phone </label>
      <input [class.is-invalid]="MyForm.get('phone')?.invalid" type="number" class="form-control" formControlName="phone">
      <small [class.d-none]="MyForm.get('phone')?.valid || MyForm.get('phone')?.untouched" class="text-danger">Phone number is required (invalid phone number)</small>

    </div>
    <div class="form-group col-sm-3">
      <label>Address </label>
      <input [class.is-invalid]="MyForm.get('city')?.invalid" type="text" class="form-control" placeholder="City" formControlName="city">
      <small [class.d-none]="MyForm.get('city')?.valid || MyForm.get('city')?.untouched" class="text-danger">min 4 character is required</small><br>
      <label for="">Select State</label>
      <select multiple class="form-control" formControlName="state">
        <option>Maharashtra</option>
        <option>Gujarat</option>
        <option>Uttar Pradesh</option>
        
      </select>
      <label>Zip code </label>
      <input [class.is-invalid]="MyForm.get('zip')?.invalid" type="number" class="form-control" formControlName="zip">
      <small [class.d-none]="MyForm.get('zip')?.valid || MyForm.get('zip')?.untouched" class="text-danger">Zip should contain only 5 digits</small>

    </div>
    <div class="row">
      <label for="">Comment</label>
      <textarea [class.is-invalid]="MyForm.get('comment')?.invalid" formControlName="comment"></textarea>
      <small [class.d-none]="MyForm.get('comment')?.valid || MyForm.get('comment')?.untouched" class="text-danger">comment should contain min 30 characters</small>

    </div>
    <button class="btn" [disabled]="!MyForm.valid">SUBMIT FORM</button>
  </form>

  {{MyForm.value | json}}

</div>